Flask
pandas
numpy
matplotlib
scipy
scikit-learn
xgboost
imbalanced-learn
optuna
python-dotenv
pycountry
pycountry-convert
fuzzywuzzy
llama-index
llama_index.llms.groq
country_converter
googletrans==4.0.0-rc1
spacy
